<div class="hero-unit">
	<div class="page-header">
		<h1 class="text-center">Password Pusher</h1>
	</div>
	<div class="row-fluid">
		<div class="span6 offset3 pagination-centered">
			<p class="lead">$_('Password pusher tagline')</p>
		</div>
	</div>

	<form id="phraseForm" action="/password" method="POST" class="text-center">
		<div class="row-fluid">
			<div class="input-append">
				<input name="phrase" class="input-xxlarge text-center" id="passwordInput" type="text" placeholder="$_('Enter password')">
				<div class="btn-group">
					<button class="btn dropdown-toggle" data-toggle="dropdown">
						<i class="icon-cog"></i>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu text-left">
						<li><a id="generateRandomPassword1">$_('Random password')</a></li>
						<li><a data-target="#randomSettingsModal" data-toggle="modal">$_('Random password settings')</a></li>
						<li class="divider"></li>
						<li><a data-target="#passwordSettingsModal" data-toggle="modal">$_('Settings')</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6 offset3">
				<button class="btn btn-large btn-block btn-primary" type="submit">$_('Push password')!</button>
			</div>
		</div>
	</form>

	<div class="row-fluid">
		<div class="span10 offset1">
			<p class="muted text-center"><small>$_('Password pusher use policy')</small></p>
		</div>
	</div>
</div>

<div id="postPasswordModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="postPasswordLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="postPasswordLabel">$_('Push password')</h3>
	</div>
	<div class="modal-body">
		<div id="postPasswordSuccess" class="alert alert-success">
			<p class="lead">$_('Use this link')</p>
			<input type="text" class="span5" id="passwordLink" />
			<p class="muted">$_('Copy password link')</p>
		</div>
		<div id="postPasswordAlert" class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	</div>
	<div class="modal-footer hide">
		<button class="btn" data-dismiss="modal" aria-hidden="true">$_('Close')</button>
	</div>
</div>

<div id="randomSettingsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="randomSettingsLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="randomSettingsLabel">$_('Random password settings')</h3>
	</div>
	<form id="randomSettingsForm">
		<div class="modal-body">
			<div class="row-fluid">
				<div class="span6">
					<div id="bitsSlider"></div>
				</div>
				<div class="span1" id="bitsSliderValue"></div>
				<div class="span1 muted">$_('Bits')</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<div id="wordsSlider"></div>
				</div>
				<div class="span1" id="wordsSliderValue"></div>
				<div class="span2 muted">$_('Words')</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">$_('Close')</button>
			<button class="btn btn-primary" id="generateRandomPassword2" data-dismiss="modal" aria-hidden="true">$_('Random password')</button>
		</div>
	</form>
</div>

<div id="passwordSettingsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="passwordSettingsLabel">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="passwordSettingsLabel">$_('Settings')</h3>
	</div>
	<form id="passwordSettingsForm">
		<div class="modal-body">
			<div class="row-fluid">
				<div class="span6">
					<div id="daysSlider"></div>
				</div>
				<div class="span1" id="daysSliderValue"></div>
				<div class="span1 muted">$_('Days')</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<div id="viewsSlider"></div>
				</div>
				<div class="span1" id="viewsSliderValue"></div>
				<div class="span2 muted">$_('Views')</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">$_('Save changes')</button>
		</div>
	</form>
</div>
